<h2 mat-dialog-title>{{ heading }}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="studentForm" class="form-style">
    <mat-form-field appearance="outline">
      <mat-label>Roll Number</mat-label>
      <input
        (ngModelChange)="rollChange()"
        formControlName="rollNo"
        matInput
        placeholder="Roll Number"
      />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint *ngIf="roll">
        <small style="color: red">{{ roll }}</small>
      </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input
        (ngModelChange)="firstNameChange()"
        formControlName="firstName"
        matInput
        placeholder="First Name"
      />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint *ngIf="firstName">
        <small style="color: red">{{ firstName }}</small>
      </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input
        (ngModelChange)="lastNameChange()"
        formControlName="lastName"
        matInput
        placeholder="Last Name"
      />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint *ngIf="lastName">
        <small style="color: red">{{ lastName }}</small>
      </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Branch</mat-label>
      <mat-select formControlName="branch">
        <mat-option *ngFor="let branch of branches" [value]="branch">
          {{ branch }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Semester</mat-label>
      <mat-select formControlName="semester">
        <mat-option *ngFor="let semester of semesters" [value]="semester">
          {{ semester }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Date of Birth</mat-label>
      <input formControlName="dob" matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
  <button mat-raised-button color="warn" (click)="onSubmit()">
    {{ activeBtn }}
  </button>
</mat-dialog-actions>
